* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 390px;
}

.header {
    height: 80px;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    position: absolute;
    top: 14px;
    left: 20px;

}

nav ul li a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: black;
    padding: 0px 19px 0px 0px;
    transition: all 0.3s;
}

nav ul li a:hover {
    color: blue;
}

.menu-list-1 {
    font-size: 12px;
    line-height: 11px;
}

.menu-list {
    font-size: 20px;
    letter-spacing: 0px;
}

.txt-img{
    text-align: center;
    margin-bottom: 20px;
}

.txt-img img{
    width: 240px;
    height: 56px;
    object-fit: cover;
    position: relative;
}

.border{
    margin : 0 auto;
    width: 280px;
    height: 320px;
    border-width: 1.5px;
    border-style: solid;
    border-color: blue;
}

.prof-img {
    text-align: center;
    margin: 10px;
}

.prof-img img{
    width: 251px;
    height: 291px;
    object-fit: cover;
    position: relative;
}

.explan{
    margin: 50px;
}

.name{
    margin-left: 30px;
    font-size: larger;
    font-family: 'Sawarabi Gothic', sans-serif;
    transform: scale(1.15, 1);
}

.kana{
    font-family: 'Varta', sans-serif;
}

table{
    margin-top: 30px;
    margin-left: 30px;
    font-size: xx-small;
    font-family: 'Sawarabi Gothic', sans-serif;
    transform: scale(1.15, 1);
}

.sentence{
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    font-size: xx-small;
    font-family: 'Sawarabi Gothic', sans-serif;
    transform: scale(1.15, 1);
}