* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    max-width: 100%;
    height: auto;
    font-family: 'Varta', sans-serif;
    overflow-x: hidden;
}

.header {
    width: 100%;
    height: 70px;
    text-align: center;
}

nav ul {
    width: 350px;
    z-index: 9999;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    text-align: center;
    margin: 18px 0px 18px 18px;

}

nav ul li a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: black;
    /* padding: 0px 0px 0px 0px; */
    transition: all 0.3s;
}

nav ul li a:hover {
    color: #003FE0;

    /* color: transparent;
    text-stroke: 0.5px #003FE0;
    -webkit-text-stroke: 0.5px #003FE0; */
}

.menu-list-1 {
    font-size: 20px;
    line-height: 11px;

}

.menu-list {
    font-size: 20px;
    letter-spacing: 0px;
}

.txt-img {
    text-align: center;
    margin-bottom: 20px;
}

.txt-img img {
    width: 240px;
    height: 56px;
    object-fit: cover;
    position: relative;
}

.borders {
    margin: 0 auto;
    width: 280px;
    height: 320px;
    border-width: 1.5px;
    border-style: solid;
    border-color: black;
}

.prof-img {
    text-align: center;
    margin: 10px;
}

.prof-img img {
    width: 251px;
    height: 291px;
    object-fit: cover;
    position: relative;
}

.explan {
    margin: 50px;
}

.name {
    margin-left: 30px;
    font-size: larger;
    font-family: 'Sawarabi Gothic', sans-serif;
    transform: scale(1.15, 1);
}

.kana {
    font-family: 'Varta', sans-serif;
}

table {
    margin-top: 30px;
    margin-left: 30px;
    font-size: xx-small;
    font-family: 'Sawarabi Gothic', sans-serif;
    transform: scale(1.15, 1);
}

.sentence {
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    font-size: xx-small;
    font-family: 'Sawarabi Gothic', sans-serif;
    transform: scale(1.15, 1);
}

.contact {
    width: 390px;
    height: 330px;

}

.contact-border {
    width: 333px;
    height: 310px;
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
    margin-left: 28px;
}

.info {
    margin: 52px 0px 30px 55px;
    font-size: 10px;
}

.name_contact {
    margin: 0px 0px 35px 73px;
    font-size: 15px;
}

.contacts {
    margin: 0px 0px 0px 55px;
    font-size: 11px;
    line-height: 30px;
}

.contact a {
    text-decoration: none;
    color: #000000;
    transition: all 0.3s;
}

.contact a:hover {
    color: #003FE0;
}

.footer {
    width: 100%;
    height: 200px;
    text-align: center;
    position: relative;
    color: black;
}

.border {
    width: 370px;
    height: 70px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin-left: 10px;
    margin-top: 30px;
}

.message {
    width: 100%;
    height: 50px;
    position: absolute;
    top: 13px;
}

.message h2 {
    font-size: 28px;
    margin-left: 5px;
}

.footer-last {
    width: 100%;
    height: 10px;
    margin-top: 40px;
}

.footer-last p {
    font-size: 15px;
}