* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    max-width: 100%;
    height: auto;
    font-family: 'Varta', sans-serif;
    overflow-x: hidden;
}

.header {
    width: 100%;
    height: 70px;
    text-align: center;
}

nav ul {
    width: 350px;
    z-index: 9999;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    text-align: center;
    margin: 18px 0px 18px 18px;

}

nav ul li a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: black;
    /* padding: 0px 0px 0px 0px; */
    transition: all 0.3s;
}

nav ul li a:hover {
    color: #003FE0;

    /* color: transparent;
    text-stroke: 0.5px #003FE0;
    -webkit-text-stroke: 0.5px #003FE0; */
}

.menu-list-1 {
    font-size: 20px;
    line-height: 11px;

}

.menu-list {
    font-size: 20px;
    letter-spacing: 0px;
}

.contact a {
    padding: 0px 0px;
}

.header-image {
    width: 310px;
    margin-left: 35px;
    text-align: center;
    border-bottom: 1px solid;
}

.header-image img {
    width: 310px;
    height: 92px;
    margin-top: 17px;
    padding-bottom: 17px;

}

/* contents */

.contents {
    margin-top: 30px;
    /* 以下の設定は必須 */
    scroll-snap-type: x mandatory;
    width: 100%;
    height: 500px;
    overflow-x: scroll;
    display: flex;
    -webkit-overflow-scrolling: touch;
    /* スマホ対応のため必須 */
    overflow-scrolling: touch;
    /* スマホ対応のため必須 */
}

.contents::-webkit-scrollbar {
    width: 10px;
    height: 5px;
}

.contents::-webkit-scrollbar-track {
    border-radius: 5px;
    background: #eee;
}

.contents::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #666;
}

.contents>div {
    scroll-snap-align: center;
    height: 100%;
    width: 100%;
    flex: none;
    /* display: flex; */
    align-items: center;
    justify-content: center;
}

.contents1 {
    width: 350px;
    height: 100%;
    margin-left: 20px;
    text-align: center;
    margin: 0 auto;
    scroll-snap-align: center;
    border-color: #060606;

}


.contents-title {
    width: 100%;
    height: 115px;
    /* margin: 0px 30px 20px 30px; */
    margin: 0 auto;
}

/* .contents-title h2 span {
    color: #000000;
    font-size: 15px;
} */


.contents-title h2 {
    width: 100%;
    color: #000000;
    line-height: 33px;
    font-size: 33px;
}


/* 
.image1 {
    width: 336px;
    height: 299px;


} */

.image1 img {
    width: 320px;
    height: 287px;
    padding: 5px 5px;
    object-fit: cover;
    border: 1px solid black;
    margin-top: 7px;
}

.date {
    margin-top: 10px;
    font-size: 13px;
}

.contents::-webkit-scrollbar-track {
    background: #bababa;
    border-radius: 5px;
}

.contents::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 5px;
}

/* footer */

.contents-footer {
    width: 100%;
    height: 450px;
    margin-top: 70px;
}

.footer-image img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.footer {
    width: 100%;
    height: 200px;
    text-align: center;
    position: relative;
    color: black;
}

.border {
    width: 370px;
    height: 68px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin-left: 10px;
    margin-top: 30px;
}

.message {
    width: 100%;
    height: 50px;
    position: absolute;
    top: 12px;
}

.message h2 {
    font-size: 29px;
    margin-left: 10px;
}

.footer-last {
    width: 100%;
    height: 10px;
    margin-top: 40px;
}

.footer-last p {
    font-size: 15px;
}