* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 390px;
    font-family: 'Varta', sans-serif;
    border: black 1px solid;
}

/* ここからheader */
.header {
    height: 80px;
    text-align: center;
}

.menu-list02 {
    margin-left: 100px;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
    margin: 18px;
}

nav ul li a {
    font-size: 20px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    ;
    color: #000;
    transition: all 0.3s;
}

nav ul li a:hover {
    color: blue;
}

/* ここからcontents */
.contents {
    height: 2300;

}

.title {
    line-height: 30px;
    font-size: 35px;
    text-align: center;
}

.contents-image {
    width: 340px;
    margin: 55px 24px;

}

.image1 {
    border: black 1px solid;
    margin-bottom: 30px;
}

.image1 img {
    height: 175px;
    width: 338px;
    object-fit: cover;
}

.image2 {
    margin-bottom: 25px;
}

.image2 img {
    height: 240px;
    width: 340px;
    object-fit: cover;
    margin-left: 8px;
}

.explaination {
    width: 270px;
    margin-left: 58px;
}

.explaination p {
    width: 271px;
    font-size: 8px;
    font-family: 'Sawarabi Gothic', sans-serif;
    transform: scale(1.15, 1);
}

.image3 {
    width: 340px;
    text-align: center;
    margin-top: 40px;
}

.image3 img {
    width: 315px;
    height: 400px;
}

.image4 {
    width: 340px;
    text-align: center;
    margin-top: 10px;
    display: flex;
}

.image4-1 img {
    width: 152px;
    height: 221px;
    object-fit: cover;
    margin-right: 10px;
    margin-left: 13px;
}

.image4-2 img {
    width: 152px;
    height: 221px;
    object-fit: cover;
}

.flore1f {
    width: 340px;

}

.flore1f p {
    margin-left: 205px;
    font-size: 10px;
    line-height: 12px;
    /* letter-spacing: -0.5px; */
}


.flore1f p span {
    margin-left: 75px;
}

.image5 {
    width: 340px;
    text-align: center;
    margin-top: 20px;
}

.image5 img {
    width: 315px;
    height: 400px;
}

.image6 {
    width: 340px;
    text-align: center;
    margin-top: 10px;
    display: flex;
}

.image6-1 img {
    width: 152px;
    height: 221px;
    object-fit: cover;
    margin-right: 10px;
    margin-left: 13px;
}

.image6-2 img {
    width: 152px;
    height: 221px;
    object-fit: cover;
}

.date {
    width: 340px;
}

.date p {
    font-size: 12px;
    margin: 10px 11px;
}





/* ここからfooter */
.footer {
    width: 390px;
    height: 204px;
    text-align: center;
    position: relative;
    color: black;
}

.border {
    width: 363px;
    height: 50px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin-left: 15px;
    margin-top: 30px;
}

.message {
    width: 390px;
    height: 50px;
    position: absolute;
    top: 7px;
}

.message h2 {
    font-size: 30px;
}

.footer-last {
    width: 100px;
    height: 10px;
    margin-left: 148px;
    margin-top: 40px;
}

.footer-last p {
    font-size: 7px;
}