* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 390px;
    max-width: 100%;
    height: auto;
    font-family: 'Varta', sans-serif;
    overflow-x: hidden;
}

/* ここからheader */
.header {
    height: 80px;
    text-align: center;
}

.menu-list02 {
    display: block;
    margin-left: 110px;
}

nav ul {
    z-index: 9999;
    position: fixed;
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
    margin: 18px;
}

nav ul li a {
    font-size: 20px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    ;
    color: #000;
    transition: all 0.3s;
}

nav ul li a:hover {
    color: blue;
}

/* ここからcontents */
.contents {
    height: 2500px;

}

.title {
    line-height: 38px;
    font-size: 45px;
    text-align: center;
}

.borde {
    margin-top: 30px;
    margin-left: 20px;
    border-top: black 1px solid;
    width: 350px;

}


.contents-image {
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.image1 {
    width: 100%;
    margin-top: 30px;
}

.image1 img {
    height: 182px;
    width: 350px;
    object-fit: cover;
}

.image2 {
    margin-bottom: 25px;
}

.image2 img {
    height: 245px;
    width: 350px;
    object-fit: cover;
}

.explaination {
    width: 350px;
    text-align: initial;

}

.explaination p {
    width: 240px;
    margin-left: 75px;
    font-size: 10px;
    text-align: justify;
    font-family: 'Sawarabi Gothic', sans-serif;
    transform: scale(1.15, 1);
}

/* .image3 {
    width: 340px;
    margin-top: 40px;
} */

.image3 img {
    margin-top: 30px;
    width: 350px;
    height: 490px;
    object-fit: cover;
}

.image4 {
    width: 350px;
    margin-top: 10px;
    display: flex;
}

.image4-1 img {
    width: 170px;
    height: 226px;
    margin-right: 10px;
    margin-left: 20px;
    object-fit: cover;
}

.image4-2 img {
    width: 170px;
    height: 226px;
    object-fit: cover;
}

.flore1f {
    width: 350px;
    margin-left: 20px;
    text-align: right;
}

.flore1f p {

    font-size: 10px;
    line-height: 12px;
    /* letter-spacing: -0.5px; */
}


/* .flore1f p span {
    margin-left: 75px;
} */

/* .image5 {
    margin-top: 20px;
} */

.image5 img {
    width: 350px;
    height: 490px;
    object-fit: cover;
    margin-top: 25px;
}

.image6 {
    width: 350px;
    margin-top: 10px;
    display: flex;
}

.image6-1 img {
    width: 170px;
    height: 226px;
    margin-right: 10px;
    margin-left: 20px;
    object-fit: cover;
}

.image6-2 img {
    width: 170px;
    height: 226px;
    object-fit: cover;
}

/* .date {
    width: 340px;
} */

.date {
    text-align: left;
}

.date p {
    font-size: 12px;
    margin-left: 20px;
    margin-top: 10px;

}



/* ここからfooter */
.footer {
    width: 100%;
    height: 200px;
    text-align: center;
    position: relative;
    color: black;
}

.border {
    width: 370px;
    height: 70px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin-left: 10px;
    margin-top: 30px;
}

.message {
    display: flex;
    width: 100%;
    height: 60px;
    text-align: left;
    position: absolute;
    top: 9px;
    overflow: hidden;
}

.message div {
    flex: 0 0 auto;
    font-size: 35px;
    font-weight: bold;
    font-family: 'Varta', sans-serif;
    white-space: nowrap;
    overflow-x: hidden;
}

@media screen and (min-width: 900px) {
    .loop_css3 div {
        font-size: 4rem;
    }
}

.message div:nth-child(odd) {
    -webkit-animation: loop 30s -15s linear infinite;
    animation: loop 30s -15s linear infinite;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    will-change: transform;
}

.message div:nth-child(even) {
    -webkit-animation: loop2 30s linear infinite;
    animation: loop2 30s linear infinite;
}

@-webkit-keyframes loop {
    0% {
        -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
        transform: translateX(100%);
    }

    to {
        -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

@keyframes loop {
    0% {
        -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
        transform: translateX(100%);
    }

    to {
        -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

@-webkit-keyframes loop2 {
    0% {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }

    to {
        -webkit-transform: translateX(-200%);
        -ms-transform: translateX(-200%);
        transform: translateX(-200%);
    }
}

@keyframes loop2 {
    0% {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }

    to {
        -webkit-transform: translateX(-200%);
        -ms-transform: translateX(-200%);
        transform: translateX(-200%);
    }
}

.footer-last {
    width: 100%;
    height: 10px;
    margin-top: 40px;
}

.footer-last p {
    font-size: 15px;
}