* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    max-width: 390px;
    overflow-x: hidden;
}

.header {
    height: 80px;
    text-align: center;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    text-align: center;
    margin: 18px 18px;
}

nav ul li a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    padding: 0px 19px 0px 0px;
    transition: all 0.3s;
}

nav ul li a:hover {
    color: blue;
}

.menu-list-1 {
    font-size: 20px;
    line-height: 11px;
}

.menu-list {
    font-size: 20px;
    letter-spacing: 0px;
}

.tab {
    height: 500;
    font-family: 'Varta', sans-serif;
}

input[type="radio"] {
    position: absolute;
    left: -9999px;
}

.filters {
    color: white;
    font-size: 25px;
    padding-left: 15px;
}

.filters li {
    font-family: 'Varta', sans-serif;
}

.filters * {
    display: inline-block;
}

.targets {
    width: 95%;
    display: grid;
    margin: auto;
}

.targets .target {
    height: 140px;
    color: white;
    border-top: 1.5px solid white;
}

.targets-img {
    width: 150px;
    height: 120px;
    float: left;
    list-style: none;
}

.targets-img img {
    margin: 10px;
    width: 120px;
    height: 120px;
}

.targets-txt1 {
    color: white;
    font-size: 11px;
    list-style: none;
    font-family: 'Varta', sans-serif;
    margin: 5px;
}

.targets-txt2 {
    color: white;
    font-size: 11px;
    list-style: none;
    font-family: 'Varta', sans-serif;
    margin: 15px 5px 5px 5px;
}

ol ul li a {
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-family: 'Varta', sans-serif;
}

ol ul li a:hover {
    color: rgba(255, 255, 255, 0.25);
}

[value="work"]:checked~.filters [for="work"],
[value="int"]:checked~.filters [for="int"],
[value="grp"]:checked~.filters [for="grp"] {
    color: rgba(255, 255, 255, 0.25);
}

.footer {
    width: 100%;
    height: 200px;
    text-align: center;
    position: relative;
    color: white;
}

.border {
    width: 370px;
    height: 70px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    margin-left: 10px;
    margin-top: 30px;
}

.message {
    display: flex;
    width: 100%;
    height: 50px;
    text-align: left;
    position: absolute;
    top: 9px;
    overflow: hidden;
}

.message div {
    flex: 0 0 auto;
    font-size: 35px;
    font-weight: bold;
    font-family: 'Varta', sans-serif;
    white-space: nowrap;
    overflow-x: hidden;
}

@media screen and (min-width: 900px) {
    .loop_css3 div {
        font-size: 4rem;
    }
}

.message div:nth-child(odd) {
    -webkit-animation: loop 30s -15s linear infinite;
    animation: loop 30s -15s linear infinite;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    will-change: transform;
}

.message div:nth-child(even) {
    -webkit-animation: loop2 30s linear infinite;
    animation: loop2 30s linear infinite;
}

@-webkit-keyframes loop {
    0% {
        -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
        transform: translateX(100%);
    }

    to {
        -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

@keyframes loop {
    0% {
        -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
        transform: translateX(100%);
    }

    to {
        -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

@-webkit-keyframes loop2 {
    0% {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }

    to {
        -webkit-transform: translateX(-200%);
        -ms-transform: translateX(-200%);
        transform: translateX(-200%);
    }
}

@keyframes loop2 {
    0% {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }

    to {
        -webkit-transform: translateX(-200%);
        -ms-transform: translateX(-200%);
        transform: translateX(-200%);
    }
}

.footer-last {
    width: 100%;
    height: 10px;
    margin-top: 40px;
}

.footer-last p {
    font-size: 15px;
}